sudo: false
language: node_js
node_js: "8"

before_install:

- rm -rf node_modules
- npm cache clean --force

install:
- npm i --ignore-script
- tns cloud setup --ignore-script
- npm run run-android --ignore-script
- npm run build-android --ignore-script