language: android
jdk: oraclejdk8
env:
  global:
  - ANDROID_API_LEVEL=26
  - ANDROID_BUILD_TOOLS_VERSION=26.0.1
android:
  licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'
  components:
  - tools
  - platform-tools
  # The BuildTools version used by your project
  - build-tools-26.0.1
  # The SDK version used to compile your project
  - android-26
  # Additional components
  - extra-google-google_play_services
  - extra-google-m2repository
  - extra-android-m2repository

before_script:
# Prepare pre-accepted licenses to not be promted at installation
- mkdir -p "$ANDROID_HOME/license"
- cp ./license/* "$ANDROID_HOME/license/"
- echo no | android create avd --force -n test -t android-26 --abi google_apis/armeabi-v7a
- emulator -avd test -no-audio -no-window &
- android-wait-for-emulator
- adb shell input keyevent 82 &

script:
  ./gradlew build check