android:
  components:
  - tools
  - platform-tools
  - build-tools-26.0.1
  - android-26
  - extra-android-m2repository
  - sys-img-armeabi-v7a-android-21

install:
- npm install -g nativescript --ignore-script
- tns usage-reporting disable
- tns error-reporting disable
- npm install --ignore-script


script:

matrix:
  include:
  - stage: "Lint"
    language: node_js
    os: linux
    node_js: "8"
    script: "npm run ci.tslint"
  - stage: "WebPack"
    os: linux
    env:
    - Webpack="Android"
    jdk: oraclejdk8
    before_install: nvm install 8.12.0
    script: tns run android && tns build android --bundle
  - stage: "Build"
    env:
    - BuildAndroid="25"
    language: android
    os: linux
    jdk: oraclejdk8
    before_install: nvm install 8.12.0
    script:
    - tns run android && tns build android
