sudo: false
language: node_js
node_js: "8"

stage: "Build"
    env:
- BuildAndroid="25"
    language: android
    os: linux
    jdk: oraclejdk8

before_install:

- rm -rf node_modules
- npm cache clean --force

install:
- npm i --ignore-script
- tns usage-reporting disable
- tns error-reporting disable
- npm run run-android
- npm run build-android