sudo: false
language: node_js
node_js: "8"

before_install:

- rm -rf node_modules
- npm uninstall -g nativescript --ignore-scripts
- npm cache clean --force

install:

- npm i -g nativescript --ignore-scripts
- npm i -g nativescript-cloud
- npm i
- tns run android --menu "Choose one of the following options:" "Option 3"
- select opt in Option 3
- tns build android --copy-to .